<div class="header">

  <ul class="nav nav-pills pull-right">
    <li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
    <li class="{{ page.blog }}"><a href="/blog" title="Blog">Blog</a></li>
    <li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
  </ul>

  <h3 class="text-muted"><a class="titlename" href="/">Shawna Stahlheber</a></h3>

  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      Font
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="javascript:void(0);" onclick="SetFont('serif');" style="font-family: serif;">Serif</a></li>
      <li><a href="javascript:void(0);" onclick="SetFont('sans');">Sans-Serif</a></li>
    </ul>
  </div>

</div> <!-- /header -->